[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
[access "refs/for/refs/*"]
	read = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	push = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	label-Code-Review = -2..+2 group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	label-Verified = -1..+1 group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	rebase = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	removeReviewer = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	submit = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
[access "refs/heads/*"]
	read = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	create = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	push = +force group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	pushMerge = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
[access "refs/tags/*"]
	push = group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
	push = +force group user/Kaeptm Blaubaer (kaeptmblaubaer1000)
